body{
    background-color: bisque;
}


.content {
    text-align: center;
}


.image-box{
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    width: 550px;
    border: 5px solid rgb(146, 3, 3);
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.4);
}

.image-box img {
    max-width: 100%;
    width: 100%;
    height: auto;

    transition: all 0.3s;
    display: block;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}